<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.LmsLogisticsModeMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.LmsLogisticsMode">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="logistics_mode_name" jdbcType="VARCHAR" property="logisticsModeName" />
    <result column="logistics_type" jdbcType="CHAR" property="logisticsType" />
    <result column="min_days" jdbcType="INTEGER" property="minDays" />
    <result column="max_days" jdbcType="INTEGER" property="maxDays" />
    <result column="logistics_mode_status" jdbcType="CHAR" property="logisticsModeStatus" />
    <result column="last_create_time" jdbcType="CHAR" property="lastCreateTime" />
    <result column="last_create_id" jdbcType="CHAR" property="lastCreateId" />
    <result column="last_update_time" jdbcType="CHAR" property="lastUpdateTime" />
    <result column="last_update_id" jdbcType="CHAR" property="lastUpdateId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, logistics_mode_name, logistics_type, min_days, max_days, logistics_mode_status, 
    last_create_time, last_create_id, last_update_time, last_update_id
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.LmsLogisticsModeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lms_logistics_mode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lms_logistics_mode
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from lms_logistics_mode
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.LmsLogisticsModeExample">
    delete from lms_logistics_mode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.LmsLogisticsMode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into lms_logistics_mode (logistics_mode_name, logistics_type, min_days, 
      max_days, logistics_mode_status, last_create_time, 
      last_create_id, last_update_time, last_update_id
      )
    values (#{logisticsModeName,jdbcType=VARCHAR}, #{logisticsType,jdbcType=CHAR}, #{minDays,jdbcType=INTEGER}, 
      #{maxDays,jdbcType=INTEGER}, #{logisticsModeStatus,jdbcType=CHAR}, #{lastCreateTime,jdbcType=CHAR}, 
      #{lastCreateId,jdbcType=CHAR}, #{lastUpdateTime,jdbcType=CHAR}, #{lastUpdateId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.LmsLogisticsMode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into lms_logistics_mode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logisticsModeName != null">
        logistics_mode_name,
      </if>
      <if test="logisticsType != null">
        logistics_type,
      </if>
      <if test="minDays != null">
        min_days,
      </if>
      <if test="maxDays != null">
        max_days,
      </if>
      <if test="logisticsModeStatus != null">
        logistics_mode_status,
      </if>
      <if test="lastCreateTime != null">
        last_create_time,
      </if>
      <if test="lastCreateId != null">
        last_create_id,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="lastUpdateId != null">
        last_update_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logisticsModeName != null">
        #{logisticsModeName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsType != null">
        #{logisticsType,jdbcType=CHAR},
      </if>
      <if test="minDays != null">
        #{minDays,jdbcType=INTEGER},
      </if>
      <if test="maxDays != null">
        #{maxDays,jdbcType=INTEGER},
      </if>
      <if test="logisticsModeStatus != null">
        #{logisticsModeStatus,jdbcType=CHAR},
      </if>
      <if test="lastCreateTime != null">
        #{lastCreateTime,jdbcType=CHAR},
      </if>
      <if test="lastCreateId != null">
        #{lastCreateId,jdbcType=CHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=CHAR},
      </if>
      <if test="lastUpdateId != null">
        #{lastUpdateId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.LmsLogisticsModeExample" resultType="java.lang.Integer">
    select count(*) from lms_logistics_mode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lms_logistics_mode
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.logisticsModeName != null">
        logistics_mode_name = #{record.logisticsModeName,jdbcType=VARCHAR},
      </if>
      <if test="record.logisticsType != null">
        logistics_type = #{record.logisticsType,jdbcType=CHAR},
      </if>
      <if test="record.minDays != null">
        min_days = #{record.minDays,jdbcType=INTEGER},
      </if>
      <if test="record.maxDays != null">
        max_days = #{record.maxDays,jdbcType=INTEGER},
      </if>
      <if test="record.logisticsModeStatus != null">
        logistics_mode_status = #{record.logisticsModeStatus,jdbcType=CHAR},
      </if>
      <if test="record.lastCreateTime != null">
        last_create_time = #{record.lastCreateTime,jdbcType=CHAR},
      </if>
      <if test="record.lastCreateId != null">
        last_create_id = #{record.lastCreateId,jdbcType=CHAR},
      </if>
      <if test="record.lastUpdateTime != null">
        last_update_time = #{record.lastUpdateTime,jdbcType=CHAR},
      </if>
      <if test="record.lastUpdateId != null">
        last_update_id = #{record.lastUpdateId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lms_logistics_mode
    set id = #{record.id,jdbcType=BIGINT},
      logistics_mode_name = #{record.logisticsModeName,jdbcType=VARCHAR},
      logistics_type = #{record.logisticsType,jdbcType=CHAR},
      min_days = #{record.minDays,jdbcType=INTEGER},
      max_days = #{record.maxDays,jdbcType=INTEGER},
      logistics_mode_status = #{record.logisticsModeStatus,jdbcType=CHAR},
      last_create_time = #{record.lastCreateTime,jdbcType=CHAR},
      last_create_id = #{record.lastCreateId,jdbcType=CHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=CHAR},
      last_update_id = #{record.lastUpdateId,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.LmsLogisticsMode">
    update lms_logistics_mode
    <set>
      <if test="logisticsModeName != null">
        logistics_mode_name = #{logisticsModeName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsType != null">
        logistics_type = #{logisticsType,jdbcType=CHAR},
      </if>
      <if test="minDays != null">
        min_days = #{minDays,jdbcType=INTEGER},
      </if>
      <if test="maxDays != null">
        max_days = #{maxDays,jdbcType=INTEGER},
      </if>
      <if test="logisticsModeStatus != null">
        logistics_mode_status = #{logisticsModeStatus,jdbcType=CHAR},
      </if>
      <if test="lastCreateTime != null">
        last_create_time = #{lastCreateTime,jdbcType=CHAR},
      </if>
      <if test="lastCreateId != null">
        last_create_id = #{lastCreateId,jdbcType=CHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=CHAR},
      </if>
      <if test="lastUpdateId != null">
        last_update_id = #{lastUpdateId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.LmsLogisticsMode">
    update lms_logistics_mode
    set logistics_mode_name = #{logisticsModeName,jdbcType=VARCHAR},
      logistics_type = #{logisticsType,jdbcType=CHAR},
      min_days = #{minDays,jdbcType=INTEGER},
      max_days = #{maxDays,jdbcType=INTEGER},
      logistics_mode_status = #{logisticsModeStatus,jdbcType=CHAR},
      last_create_time = #{lastCreateTime,jdbcType=CHAR},
      last_create_id = #{lastCreateId,jdbcType=CHAR},
      last_update_time = #{lastUpdateTime,jdbcType=CHAR},
      last_update_id = #{lastUpdateId,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>