<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.OmsOrderLogisticsTraceLogMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.OmsOrderLogisticsTraceLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="trace_no" jdbcType="VARCHAR" property="traceNo" />
    <result column="last_create_time" jdbcType="TIMESTAMP" property="lastCreateTime" />
    <result column="last_create_id" jdbcType="VARCHAR" property="lastCreateId" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="last_update_id" jdbcType="VARCHAR" property="lastUpdateId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.macro.mall.model.OmsOrderLogisticsTraceLog">
    <result column="trace_content" jdbcType="LONGVARCHAR" property="traceContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, trace_no, last_create_time, last_create_id, last_update_time, last_update_id
  </sql>
  <sql id="Blob_Column_List">
    trace_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.macro.mall.model.OmsOrderLogisticsTraceLogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oms_order_logistics_trace_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.macro.mall.model.OmsOrderLogisticsTraceLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oms_order_logistics_trace_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oms_order_logistics_trace_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oms_order_logistics_trace_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.OmsOrderLogisticsTraceLogExample">
    delete from oms_order_logistics_trace_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.OmsOrderLogisticsTraceLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_order_logistics_trace_log (order_id, trace_no, last_create_time, 
      last_create_id, last_update_time, last_update_id, 
      trace_content)
    values (#{orderId,jdbcType=BIGINT}, #{traceNo,jdbcType=VARCHAR}, #{lastCreateTime,jdbcType=TIMESTAMP}, 
      #{lastCreateId,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastUpdateId,jdbcType=VARCHAR}, 
      #{traceContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.OmsOrderLogisticsTraceLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_order_logistics_trace_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="traceNo != null">
        trace_no,
      </if>
      <if test="lastCreateTime != null">
        last_create_time,
      </if>
      <if test="lastCreateId != null">
        last_create_id,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="lastUpdateId != null">
        last_update_id,
      </if>
      <if test="traceContent != null">
        trace_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="traceNo != null">
        #{traceNo,jdbcType=VARCHAR},
      </if>
      <if test="lastCreateTime != null">
        #{lastCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastCreateId != null">
        #{lastCreateId,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateId != null">
        #{lastUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="traceContent != null">
        #{traceContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.OmsOrderLogisticsTraceLogExample" resultType="java.lang.Integer">
    select count(*) from oms_order_logistics_trace_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oms_order_logistics_trace_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.traceNo != null">
        trace_no = #{record.traceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.lastCreateTime != null">
        last_create_time = #{record.lastCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastCreateId != null">
        last_create_id = #{record.lastCreateId,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null">
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateId != null">
        last_update_id = #{record.lastUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="record.traceContent != null">
        trace_content = #{record.traceContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update oms_order_logistics_trace_log
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      trace_no = #{record.traceNo,jdbcType=VARCHAR},
      last_create_time = #{record.lastCreateTime,jdbcType=TIMESTAMP},
      last_create_id = #{record.lastCreateId,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_id = #{record.lastUpdateId,jdbcType=VARCHAR},
      trace_content = #{record.traceContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oms_order_logistics_trace_log
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      trace_no = #{record.traceNo,jdbcType=VARCHAR},
      last_create_time = #{record.lastCreateTime,jdbcType=TIMESTAMP},
      last_create_id = #{record.lastCreateId,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_id = #{record.lastUpdateId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.OmsOrderLogisticsTraceLog">
    update oms_order_logistics_trace_log
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="traceNo != null">
        trace_no = #{traceNo,jdbcType=VARCHAR},
      </if>
      <if test="lastCreateTime != null">
        last_create_time = #{lastCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastCreateId != null">
        last_create_id = #{lastCreateId,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateId != null">
        last_update_id = #{lastUpdateId,jdbcType=VARCHAR},
      </if>
      <if test="traceContent != null">
        trace_content = #{traceContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.macro.mall.model.OmsOrderLogisticsTraceLog">
    update oms_order_logistics_trace_log
    set order_id = #{orderId,jdbcType=BIGINT},
      trace_no = #{traceNo,jdbcType=VARCHAR},
      last_create_time = #{lastCreateTime,jdbcType=TIMESTAMP},
      last_create_id = #{lastCreateId,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_id = #{lastUpdateId,jdbcType=VARCHAR},
      trace_content = #{traceContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.OmsOrderLogisticsTraceLog">
    update oms_order_logistics_trace_log
    set order_id = #{orderId,jdbcType=BIGINT},
      trace_no = #{traceNo,jdbcType=VARCHAR},
      last_create_time = #{lastCreateTime,jdbcType=TIMESTAMP},
      last_create_id = #{lastCreateId,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_id = #{lastUpdateId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>